@import "./fontawesome.scss";
@import "./solid.scss";


/*animaciones*/
.agrandar{
    transition: all .5s;
}
.agrandar:hover{
    transform: scale(1.02);
}
.encoger{
    transition: all .5s;
}
.encoger:hover{
    transform: scale(0.98);
}
.aparecer{
    animation-name: aparecer;
    animation-duration: 2s;
    animation-timing-function:ease-in; 
}
    @keyframes aparecer {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
/*Común*/
.titulos,h1,h2{
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .250rem; 
}
.titulos-header{
    font-size: 0.8rem;
}
.titulos-centrado{
    text-align: center;
}
.titulos-tienda{
    font-size: .8rem;
    letter-spacing: .50rem;
}
.textos,p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .150rem; 
}

.textos-light{
    font-weight: 300;
}
.textos-dark{
    color: black;
}
.textos-bold{
    font-weight: 500;
}
main{
    @extend .aparecer;
} 
ul{
    list-style: none;
}
a{
    color:black;
}
a:hover{
    color:rgb(131, 131, 131);
    text-decoration: none;
}
.navbar{
    padding-bottom:0.5rem;
    padding-top:0.5rem;
    @extend .textos;
    .navbar-brand{@extend .textos-bold;}
    .navbar-nav, .form-control{@extend .textos-light}

}
.navbar-color {
    background-color: #F7F2EE;
}
.navbar-toggler {
    border-style: none;
    
}
.nav-link{
    text-align: center;
}
.banner{
    width: auto;
    height: fit-content;
    overflow: hidden;
    .banner__image{
        
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 240px;
        width:auto;
    }
    .banner__image-index{
        background-image: url(../../img/pexels-chevanon-photography-302899.jpeg);
    }
    .banner__image-recetas{
        background-image: url(../../img/gc-libraries-creative-tech-lab-wiOEVPVRfW4-unsplash.jpeg);
    }
    .banner__image-locaciones{
        background-image: url(../../img/pexels-andrea-piacquadio-3796810.jpeg);
    }
    h1{
        padding: 1rem;
    }
    .banner__content{
        $margen: 50px;
        
        .banner__content-title{
            @extend .titulos;
            color: #ffffff;
            text-shadow: 1px 1px 5px black;
            margin: $margen;
            padding: 0px;
        }
        .banner__content-btn{
            @extend .textos;
            color: #000;
            background-color: #fff;
            border-color: #fff;
            margin-left: $margen;
            margin-bottom: $margen;
            
        }
    }
}
.card{
    $border-radius:3%;
    width: 85%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 8px 0 rgba(0, 0, 0, 0.15);
    border: 0px solid #fff ;
    border-radius:$border-radius;
    img{
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    @extend.agrandar;

}
.click .card:not(:disabled) {
    cursor: pointer;
    @extend a;
}
.card__image{
    height: auto;
    width:100%;
}

/*Index*/
.card-index{
    max-width: 15rem;
}

.scroll{
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    border-color: white;
    padding-top: .8rem;
    padding-bottom: .8rem;
    >div{
        margin-right: 1rem;
    }
    .card{
        width: 10rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .card-body{
        min-height: 10rem;
    }
}
.scroll::-webkit-scrollbar {
    background-color: rgb(233, 233, 233);
    width: auto;     
    height: .5rem;
    
  }
  
  
.scroll::-webkit-scrollbar-thumb {
    
    background-color: #000;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #777;  /* creates padding around scroll thumb */
}

/*recetas*/
.receta {
    .receta__parrafo{
    font-size:1.2rem!important;
    padding: 1rem;
    text-align: justify;
    }
}
/*productos*/

/*contacto*/

.contacto {
    
    .contacto__form{
        margin-top: .5rem;
        margin-bottom: .5rem;
        padding: 2rem;
        border-radius: 1rem;
    }
    .contacto__form--color {
        background-color: #B38665;
    }
    
}

/*Locaciones*/
.titulo{
    text-align: center;
}
/**/

.icon {
    width: 10px;
}
.show-large{
    display: none;
}
.celda {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}
.footer {
    margin-top: 1.5rem;
    padding: 2rem;
    background-color: #F7F2EE;
}


@media (min-width: 575.98px) {
    .banner{
        .banner__image{
            min-height: 240px;
            max-height: 310px;
        }
    }
    .card{
        width: 18rem;
    }
}


@media (min-width: 767.98px) {
    
    .card{
        width: 25rem;
    }
    .banner{
        .banner__image{
            min-height: 370px;
            max-height: 85vh;
        }
    }
    .receta {
        .receta__parrafo{
        font-size:1.4rem!important;
        }
    }
    
}


@media (min-width: 1199.98px) {
    .index{
        .index__imagen{
            width: 5vw;
       }
        .index__titulo{
            font-size: 5rem;
        }
        .index__subtitulo{
            font-size: 3rem;
        }
    }
    .card{
        width: 22rem;
    }
    .banner{
        .banner__image{
            min-height: 580px;
            max-height: 900px;
        }
    }
    .scroll{
        >div{
            margin-right: 50px;
        }
        .card{
            width: 10rem;
        }
        .card-body{
            min-height: 10rem;
        }
    }

}
