@import "./fontawesome.scss";
@import "./solid.scss";

  
.titulos,h1,h2{
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .250rem; 
}
.titulos-header{
    font-size: 0.8rem;
}
.titulos-centrado{
    text-align: center;
}
.titulos-tienda{
    font-size: .8rem;
    letter-spacing: .50rem;
}
.textos,p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .150rem; 
}

.textos-light{
    font-weight: 300;
}

.textos-bold{
    font-weight: 500;
}

ul{
    list-style: none;
}
a{
    color:black;
}
.navbar{
    @extend .textos;
    .navbar-brand{@extend .textos-bold;}
    .navbar-nav, .form-control{@extend .textos-light}

}
.navbar-color {
    background-color: #F7F2EE;
}
/*Index*/

.banner{
    width: auto;
    height: fit-content;
    .banner__image{
        
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 240px;
        width:auto;
    }
    .banner__image-index{
        background-image: url(../../img/pexels-chevanon-photography-302899.jpeg);
    }
    .banner__image-recetas{
        background-image: url(../../img/gc-libraries-creative-tech-lab-wiOEVPVRfW4-unsplash.jpeg);
    }
    .banner__image-locaciones{
        background-image: url(../../img/pexels-andrea-piacquadio-3796810.jpeg);
    }
    h1{
        padding: 1rem;
    }
    .banner__content{
        $margen: 50px;
        
        .banner__content-title{
            @extend .titulos;
            color: #ffffff;
            text-shadow: 1px 1px 5px black;
            margin: $margen;
            padding: 0px;
        }
        .banner__content-btn{
            @extend .textos;
            color: #000;
            background-color: #fff;
            border-color: #fff;
            margin-left: $margen;
            margin-bottom: $margen;
            
        }
    }
}
.card{
    $border-radius:3%;
    width: 85%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 8px 0 rgba(0, 0, 0, 0.15);
    border: 0px solid #fff ;
    border-radius:$border-radius;
    img{
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
}
.card__image{
    height: auto;
    width:100%;
}

.texto{
    padding: 2.5em;
    .texto__titulo{
        padding: 2em 0 2em 0;
    }
}
.scroll{
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    border-color: white;
    padding-bottom: .8rem;
    >div{
        margin-right: 20px;
    }
    .card{
        width: 10rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .card-body{
        min-height: 10rem;
    }
}
.scroll::-webkit-scrollbar {
    background-color: rgb(233, 233, 233);
    width: 5px;     
    height: 8px;
    
  }
  
  
.scroll::-webkit-scrollbar-thumb {
    
    background-color: #000;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #777;  /* creates padding around scroll thumb */
}

/*recetas*/
.receta {
    .receta__parrafo{
    font-size:1.2rem!important;
    padding: 1rem;
    text-align: justify;
    }
}
/*productos*/

.img-producto{
    max-width: 80%;

}
#sort {
    background-color: #f7f2ee;
    border-color: white;
    
    
}

/*contacto*/

.contacto {
    
    .contacto__form{
        margin-top: .5rem;
        margin-bottom: .5rem;
        padding: 2rem;
        border-radius: 1rem;
    }
    .contacto__form--color {
        background-color: #B38665;
    }
    
}

/*Locaciones*/
.titulo{
    text-align: center;
}
/**/

.icon {
    width: 10px;
}
.show-large{
    display: none;
}
.celda {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}
.footer {
    margin-top: 1.5rem;
    padding: 2.5rem;
    background-color: #F7F2EE;
    .footer__links{
        .footer__links-titulo{
            font-family: 'Roboto', sans-serif;
            font-size: 1.625rem;
            line-height: 1.25;
            text-transform: uppercase;
            letter-spacing: .125rem;
        }
    }
    .footer__menu{
        position:relative;
        .footer__menu-titulo{
            position: relative;
            .footer__menu__title {
                font-family: AvenirLTStd-Black;
                text-transform: uppercase;
                position: relative;
                padding: 16px 0 40px;
                letter-spacing: .125rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

/*animaciones*/
.agrandar{
    transition: all .5s;
}
.agrandar:hover{
    transform: scale(1.05);
}

.aparecer{
    animation-name: aparecer;
    animation-duration: 3s;
    animation-timing-function: ease-in; 
}
    @keyframes aparecer {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
@media (min-width: 575.98px) {
    .index{
        .index__titulo{
            font-size: 4rem;
        }
        .index__subtitulo{
            font-size: 2rem;
        }
    }
    .banner{
        .banner__image{
            min-height: 480px;
        }
    }
    .card{
        width: 18rem;
    }
}


@media (min-width: 767.98px) {
    .titulos,h1,h2{
        font-size: 2rem;
        line-height: 1.25;
        letter-spacing: .500rem; 
    }
    .titulos-header{
        font-size: 1.2rem;
    }

    .titulos-tienda{
        font-size: .8rem;
    }
    .textos,p{
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: .100rem; 
    }
    .index{
        .index__imagen{
            width: 50vw;
        }
        .index__titulo{
            font-size: 4rem;
        }
        .index__subtitulo{
            font-size: 2rem;
        }
    }
    .banner{        
        
        .banner__image{
            min-height: 720px;
        }
    }
    .card{
        width: 25rem;
    }
    .receta {
        .receta__parrafo{
        font-size:1.4rem!important;
        }
    }
    
}



/*@media (min-width: 991.98px) {}*/


@media (min-width: 1199.98px) {
    html{
        font-size: 25px;
    }
    .index{
        .index__imagen{
            width: 5vw;
       }
        .index__titulo{
            font-size: 5rem;
        }
        .index__subtitulo{
            font-size: 3rem;
        }
    }
    .card{
        width: 22rem;
    }
    .banner__image{
        min-height: 1200px;
    }
    .scroll{
        >div{
            margin-right: 50px;
        }
        .card{
            width: 10rem;
        }
        .card-body{
            min-height: 10rem;
        }
    }
    
    footer div div svg {
        transform: scale(2.5);
    }
}
